body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('@/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.blog-detail-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.5); /* 设置半透明蒙板 */
}

.blog-detail-container.dark-mode {
  background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
}

.blog-detail-content {
  width: 90%;
  max-width: 1800px;
  margin: 120px auto; /* 使内容左右居中 */
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-detail-content.dark-mode {
  background-color: rgba(0, 0, 0, 0.4); /* 半透明黑色背景 */
  box-shadow: 0 0 45px 10px rgba(245, 212, 111, 0.3); /* 淡黄色光晕 */
  color: #fbf9f7; /* 暗色模式下字体颜色改为亮棕色 */
}

.blog-detail-content h1 {
  font-size: 2.2rem;
  margin: 1.2em 0 0.6em 0;
}
.blog-detail-content h2 {
  font-size: 1.7rem;
  margin: 1em 0 0.5em 0;
}
.blog-detail-content h3 {
  font-size: 1.3rem;
  margin: 0.8em 0 0.4em 0;
}
.blog-detail-content {
  font-size: 1.3rem; /* 放大正文 */
}