.content-switcher {
    flex: 1;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dark-mode .content-switcher {
    background-color: rgba(0, 0, 0, 0.4); /* 半透明黑色背景 */
    box-shadow: 0 0 45px 10px rgba(245, 212, 111, 0.3); /* 淡黄色光晕 */
    color: #fbf9f7; /* 暗色模式下字体颜色改为亮棕色 */
  }
  
  .tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .tab {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .tab.active {
    background-color: #007BFF;
    color: white;
  }
  
  .dark-mode .tab.active {
    background-color: #a77b42;
    color: white;
  }
  
  .content {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.0);
  }
  
  .dark-mode .content {
    background-color: rgba(255, 255, 255, 0.0);
    border-color: #555;
    color: white;
  }